{% extends 'orders/base.html' %}
{% load widget_tweaks %}

{% block body %}
<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 has-text-centered">
        Pinocchio's Pizza & Subs
      </h1>
      <div class="columns">
        <div class="column">
          <h2 class="title is-4 has-text-centered ">
            Welcome {{ user.first_name }} {{user.last_name}}
              <br>
              <br>
            Your Username:{{user.username}}
            <br>
            <br>
            Mail id : {{user.email}}

          </h2>
        </div>
      </div>

    </div>
  </div>
</section>



{% endblock %}
