{% extends 'orders/base.html' %}


{% block body %}

<section class="hero is-primary is-bold is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 has-text-centered">
        Pinocchio's Pizza & Subs
      </h1>

      <div class="columns">
        <div class="column is-offset-2 is-8">
          <h2 class="title is-4 ">
            Register
          </h2>
                  {% if message %}
        <div class="context-message">
        {{ message }}
        </div>
        {% endif %}

          <form action="{% url 'register' %}" method="POST" autocomplete="off">
            {% csrf_token %}

            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" name="username" type="text" placeholder="Username" required>
              </div>
            </div>
            <div class="field">
              <label class="label">First Name</label>
              <div class="control">
                <input class="input" name="first_name" type="text" placeholder="First Name" required>
              </div>
            </div>
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input class="input" name="last_name" type="text" placeholder="Last Name">
                </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" name="email" type="email" placeholder="Email" required>
              </div>
           </div>
           <div class="field">
             <label class="label">Password</label>
             <div class="control">
               <input class="input" name="password" type="password" placeholder="Password" required>
             </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-link" type="submit" value="Register">Submit</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

  {% endblock %}
